<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<meta charset="utf-8">
	<title>Numerology App</title>
</head>
	<body>
		
		<div class="container">
		<div class="header">
		<h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
		</div>
		 
		<hr />
 
		<%= yield %>
		 
		</div>
				
		<div class = "container">
		<div class = "footer">
		<hr />
		<h2>About the Developer</h2>
		<p>Melissa Steffy has been a SQL Developer for 4 years, and decided recently to enhance her skillset.
		</p>
		</div>
	</body>
</html>

